body {
  background: #212529;
}
body * {
  color:white;
  font-family: system-ui, -apple-system, "Segoe UI";
}
input[type=color]{
  width:27px;
}
select,option{
  background: #212529;
}
code#code{
  margin-top:8px;
  display: block;
  width:600px;
  background: #0E192A;
  padding:8px 15px;
  font-size: 14px;
}

color-picker {
  --font-fam: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg-color: rgb(30 41 59);
  --label-color: #ccc;
  --form-border-color: #495057;
  --input-active-border-color: #86b7fe;
  --input-bg: #020617;
  --input-active-bg: #4682B4;
  --input-color: #ccc;
  --input-active-color: #333;
  --input-active-box-shadow: 0 2px 5px #ccc;
  --button-active-bg: #0C5B9D;
  --button-active-color: #ffffff;
  --outer-box-shadow: 0 4px 12px #111;
}
